  body{
    background-color:rgb(44, 188, 149);
}
.style{
    background-color:blanchedalmond;
}
#p1{
    color:blue;
}
#p2{
    color:rgb(188, 54, 76);
}
#p3{
    color:rgb(181, 34, 34);
}